{% extends 'includes/base.html'%}

{% block title %}
<title>Account</title>
{% endblock %}


{% block content %}

{% include 'navbar.html'%}
<div class="container">


<br>
<h1 class="text-center">All Show Users</h1>



<a href="{% url 'new-user'%}" class="btn btn-primary">Add New User</a>
      <br><br>
    <!--<input class="form-control" id="myInput" type="text" placeholder="Search.." width="100%">-->

 <table class="table table-bordered table-striped bg-white">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col">Handle</th>
      <th scope="col">#</th>
      <th scope="col">#</th>
      <th scope="col">-Views-</th>
    </tr>
  </thead>



    <tbody  id="myTable">
    <tr>
      <th scope="row">{{user.pk}}</th>
      <td><a href="{% url 'update_user' user.id %}">{{user.username}}</a></td>
      <td>{{user.password}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td><a href="{% url 'update_user' user.id %}"><i class="fas fa-edit"></i></a></td>
      <td><a href=""><a href="{% url 'delete_user' user.id %}" class="text-danger"><i class="fas fa-trash"></i></a></a></td>
      <td class="view"><a href=""><a href=""><i class="fas fa-eye"></i></a></a></td>

    </tr>

  </tbody>



</table>
</div>





<br>
<br>
<br>



{% endblock %}